<launch>

    <!-- Run icp_mapper node -->
    <node name="icp_mapper_node" pkg="ssh_icp_mapping" type="icp_mapper_node" clear_params="true" output="screen" >

        <!-- The Filter is used for genetating a model using ICP -->
        <rosparam param="filter_leaf_size">[0.01, 0.01, 0.01]</rosparam>
        <rosparam param="filter_min_axis">[-0.2, -0.3, 0.5]</rosparam>
        <rosparam param="filter_max_axis">[0.2, 0.18, 1.1]</rosparam>

        <!-- ICP parameters-->
        <param name="max_correspondence_distance" value="1.0" />
        <param name="max_iterations" value="200" />
        <param name="transformation_epsilon" value="1e-9" />
        <param name="euclidean_fitness_epsilon" value="1.0" />

    </node>

</launch>
